:root{
    --headButtonWidth: calc(100% / 10);
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.headButton{
    width: var(--headButtonWidth);
    height: 100px;
    display: inline-block;
    background-color: rgb(190, 190, 190);
    position: relative;
    margin-right: -4.5px;
    cursor: pointer;
    /*outline: 2px solid rgb(216, 216, 216);*/
}

.button:hover{
    filter: brightness(110%);
}

#head{
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
}

h1{
    color: green;
}

h2{
    color: rgb(1, 88, 1);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.dropdown.display{
    background-color: rgb(224, 224, 224);
    position: relative;
    left: -10px;
    margin-right: -18px;
    cursor: pointer;
}

.dropdown.display:hover{
    filter: brightness(110%);
}

.dropdownDisplay{
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown.display{
    margin-left: 10px;
    margin-right: 10px;
}

.context{
    margin-left: 10px;
    margin-right: 10px;
}