#loadOrNewScreen{
    margin: 20px;
}

#newBTN{
    cursor: pointer;
    width: calc(480px/2.8);
    height: calc(230px/2.8);
}

#loadBTN{
    cursor: pointer;
    width: calc(480px/2.8);
    height: calc(230px/2.8);
}